@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

html {
  background-color: #FFFFCC;
  font-family: OpenSans, sans-serif;
  margin: 0.2em;
}

a {
  color: #4444FF;
  text-decoration: none;
}

table {
  width: 100%;
  background-color: #DDDDDD;
  border: 1px solid #000000;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

th {
  background-color: #AAAAAA;
  font-size: 1.1em;
  position: sticky;
  top: 0;
}

td {
  font-size: 0.9em;
  text-align: center;
}

tr:hover td {
  background-color: #DDFFDD;
}